.go-round {
    width: 100%;
}

.go-round__container {
    /*display: flex;
    flex-flow: row wrap;*/
}

.go-round__slide {
    flex: 0 0 100%;
    max-width: 100%;
}

.go-round--slideshow2 .go-round__slide,
.go-round--slideshow3 .go-round__slide {
    padding: 0 10px;
}

.slick-prev:before,
.slick-next:before,
.slick-dots li button:before {
    /*font-family: inherit;*/
}

.slick-prev:before {
    content: "\2190";
    color: #000;
}

.slick-next:before {
    content: "\2192";
    color: #000;
}

.slick-dots li button:before {
    content: "\2022";
}

.go-round button.slick-arrow {
    background-color: transparent;
}

.go-round__img {
    position: relative;
    overflow: hidden;
    padding-top: 52.56%;
    display: block;
    background: #fff;
}

.go-round__img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    object-fit: cover;
}

.go-round__body {
    margin: 15px 0 30px;
}

.go-round__title {
    display: inline-block;
    text-decoration: none;
}

.go-round__title h4,
.entry-content .go-round__title h4 {
    margin: 0 0 1rem;
}